In [2]:
print("baroomi khan")
a=20
b=30
print(a+b)

baroomi khan
50

In [3]:
##bolean and data structure

my_str="K h a n"
print(my_str.isalnum())#check if all char are numbers
print(my_str.isalpha())#check if all char in the string  are alphabetic
print(my_str.isdigit())#check if string contains digits
print(my_str.istitle())#test if string contains title word
print(my_str.isupper())#test if string contains upper case
print(my_str.islower())#test if string conntains lower case
print(my_str.isspace())#test if string conatains space
print(my_str.endswith('n'))#test if string endwith a d
print(my_str.startswith('K'))#test if string with h
my_str.isalnum()

False
False
False
False
False
False
False
True
True

False

In [4]:
##Boolean and logical operator
True or False and False

True

In [64]:
True or False

True

In [65]:
True or True

True

In [66]:
False or False

False

In [28]:
basit=1234
bro='charas'
basit.is_integer() or bro.isdigit()

True

In [10]:
#list is a data structrue in python that is a mutable or changeable,ordered squence of elements.Each elemnst
#or value inside in list is called items structure of list is variable=[] forexam khan=[]


khan=['shah','zeb','rora']


type(khan)
list1=list()
type(list1)
print(list1)

[]

In [1]:
second=["bran",'chola',1234,2300]
type(second)
len(second)
second.append("jarkhan")# its used to add something in list
second.append(["krish","basit","khan",123,1234,12,1j])
# insert"is a way that we insert item in  a specific  order and structure see below forexp i want that i insert basit in 0n idex 4 so you see in list "
second.insert(4,"basit")
second

['bran',
 'chola',
 1234,
 2300,
 'basit',
 'jarkhan',
 ['krish', 'basit', 'khan', 123, 1234, 12, 1j]]

In [36]:
#index"is a way that we determine in  list which items on which index present.index start from zero"

second[0]

'bran'

In [39]:
second[0]

'bran'

In [ ]:
## extend Method  its add items in list separate
lite=[1,2,3,4,5]
lite.extend([89,24])
lite

[1, 2, 3, 4, 5, 89, 24]

In [ ]:
# various operation that we can perform in list
islt=[1,2,3,4]
sum(islt)

10

In [ ]:
## pop() Method = is to pickup or remove last  item from list
islt.pop()

4

In [7]:
islt.pop(0)# when include index in pop so remove those value in which index present

3

In [29]:
# count():it means that we find value in list how many repeat
opera=[1,2,3,4,1]
opera.count(1)

2

In [30]:
opera*2 #it means that i write this type which you see opera*2 that list increase two times

[1, 2, 3, 4, 1, 1, 2, 3, 4, 1]

In [ ]:
#min and max
min(opera) #here we find max and min values in list
#max(opera)

5

In [ ]:
## lecture no 3 
## topic SETS= its a set an unordered collection data type that is iterable,mutable and has no duplicate
##python set calss represents the mathematical notion of a set.this is based on data structure know as hash table

In [2]:
## Define on empty set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [ ]:
set_var1={1,2,3,4,3}
print(set_var1)
print(type(set_var1))

{'basit', 1, 2, 3, 4}
<class 'set'>

In [ ]:
#inbuilt functions in sets 
set_var1.add("basit")
print(set_var1)

{'basit', 1, 2, 3, 4}

In [ ]:
##differece     here a lot of inbuilt function of set
set2={"a","b","c","d"}
set3={"a","b","c","d","e"}
set3.difference(set2)

{'e'}

In [26]:
##DICTIONARIES: is a collection which is unordered,changeable and idexed.in python dictionaries are written
## with curly brackets, and they have keys and values
dic={}
type(dic)
dic1={"car1":"vitz","car2":"bmw","car3":"honda"}# so here car1 is key and vitz is a value thats dictionary
type(dic1)

dict

In [ ]:
dic1["car2"]# we acess to it through keys

'bmw'

In [28]:
#we can even loop through the dictionaries keys
for c in dic1:
    print(c)

car1
car2
car3

In [29]:
#we can even loop through the dictionaries values
for c in dic1.values():
    print(c)

vitz
bmw
honda

In [30]:
#we can also check keys and values combine
for c in dic1.items():
    print(c)

('car1', 'vitz')
('car2', 'bmw')
('car3', 'honda')

In [ ]:
# adding items in dictionaries and also replace items through  keys 
dic1['car4']='basit12'
dic1

{'car1': 'vitz', 'car2': 'bmw', 'car3': 'honda', 'car4': 'basit12'}

In [ ]:
# nested Dictinary so here we see that in dictionary nested dictionary
car1_model={'mercides':230}
car2_model={'brodas':123}
car3_model={'carolla':124}
car4_model={'bander':237}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model,'car4':car4_model}
car_type

{'car1': {'mercides': 230},
 'car2': {'brodas': 123},
 'car3': {'carolla': 124},
 'car4': {'bander': 237}}

In [33]:
#accessing the items in the dictionary
print(car_type['car1'])

{'mercides': 230}

In [34]:
print(car_type['car1']['mercides'])

230

In [1]:
# Tuples: its not changeable ,mutable
my_tuple=tuple()
type(my_tuple)

tuple

In [1]:
my_tuple=("basit","khan","bannu","basit")
#my_tuple[0]="gori" tuple doesnot support item assigment
#my_tuple=("lora","join") this will change whole 
my_tuple

('basit', 'khan', 'bannu', 'basit')

In [ ]:
#inbulit function 
my_tuple.count('basit')#its mean how many basit present in tuple

2

In [4]:
my_tuple.index('basit')

0